@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-Book.woff2') format('woff2'),
        url('../fonts/Axiforma-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regualar.ttf') format('truetype'),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin displayFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}


body,
* {
    font-family: 'Axiforma', sans-serif;
}


.partners {
    margin-top: 120px;

    .partners-text-part {
        display: flex;
        flex-direction: row;
        align-items: center;

        .left-side {
            width: 60%;

            h1 {
                font-size: 5em;
                color: #1c1d24;
            }
        }

        .right-side {
            width: 40%;

            // opacity: 0.9;
            h6 {
                color: #1c1d24bf !important;
            }
        }
    }

    .line-up {
        width: 100% !important;
        height: 1.8px !important;
        background: #1c1d24bf !important;
        opacity: 0.6;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .filter-buttons {
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            gap: 6px;

            button {
                padding: 0.7em 1.2em;
                background-color: transparent;
                border: 1px solid #bdbcff;
                border-radius: 50em;
                color: #1c1d24 !important;
                font-size: 15px;
                transition: 0.3s;
                white-space: nowrap;
            }

            button:focus {
                background: #b3b2fb;
                color: black;
            }
        }
    }
}

@media (max-width: 576px) {
    .partners {
        margin-top: 80px !important;

        .partners-text-part {
            display: flex;
            flex-direction: column;
            align-items: center;

            .left-side {
                width: 100% !important;
                margin-bottom: 20px;

                h1 {
                    font-size: 2.8em !important;
                    color: #1c1d24;
                }
            }

            .right-side {
                width: 100%;

                // opacity: 0.9;
                h6 {
                    font-size: 0.9em !important;
                    color: #1c1d24bf !important;
                }
            }
        }

        .line-up {
            width: 100% !important;
            height: 1.5px !important;
            background: #1c1d24bf !important;
            opacity: 0.6;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        .filter-buttons {
            ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                gap: 6px;

                button {
                    cursor: pointer;
                    font-size: 11px !important;
                    white-space: nowrap;
                }
            }
        }
    }
}