@font-face {
    font-family: 'Axiforma';
    src: url('../fonts/Axiforma-Book.woff2') format('woff2'),
        url('../fonts/Axiforma-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regualar.ttf') format('truetype'),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
* {
    font-family: 'Axiforma-Medium', sans-serif;
}

@import 'navbar';
@import 'home';
@import 'countUpScrollTrigger';
@import 'homeAttendSingleCard';
@import 'preloaderHome';
@import 'yearsSpeakersSwiper';
@import 'resourcesSlickSlider';
@import 'shop';
@import 'shopSingleCard';
@import 'readMore';
@import 'blog';
@import 'blogSingleCard';
@import 'addToCart';
@import 'wishlist';
@import 'speaker';
@import 'speakersSingleCard';
@import 'partners';
@import 'partnersSingleCard';
@import 'faq';
@import 'faqSingleCard';
@import 'contact';
@import 'footer';
@import 'login';
@import 'register';
@import 'account';
@import 'completeOrder';
@import 'preloader';


.card {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

:root {
    --color-dark-rgb: 28, 29, 36;
    --color-dark: rgba(var(--color-dark-rgb), 1);
    --color-dark-tint: #22232B;
    --color-light-rgb: 247, 247, 255;
    --color-light: rgba(var(--color-light-rgb), 1);
    --color-light-tint: #EFEFFF;
    --color-white-rgb: 255, 255, 255;
    --color-white: rgba(var(--color-white-rgb), 1);
    --color-black-rgb: 0, 0, 0;
    --color-black: rgba(var(--color-black-rgb), 1);
    --color-primary-rgb: 179, 178, 251;
    --color-primary: rgba(var(--color-primary-rgb), 1);
    --color-secondary-rgb: 147, 136, 254;
    --color-secondary: rgba(var(--color-secondary-rgb), 1);
    --color-glow-rgb: 153, 121, 255;
    --color-glow: rgba(var(--color-glow-rgb), 1);
    --color-beige-rgb: 254, 249, 240;
    --color-beige: rgba(var(--color-beige-rgb), 1);
    --color-gray: #C7BFB2;
    --color-lightgray: var(--color-light-tint);
    --color-border: rgba(var(--color-dark-rgb), 0.35);
    --color-border-light: rgba(var(--color-white-rgb), 0.45);
    --color-text: rgba(var(--color-dark-rgb), 0.75);
    --color-text-light: rgba(var(--color-white-rgb), 0.75);
    --color-alert-error: #dc122d;
    --color-alert-success: #46d054;
    --animation-primary: 0.3s cubic-bezier(.5, 0, .25, 1);
    --animation-smooth: 0.5s cubic-bezier(1, 0, .25, 1);
    --animation-theme: 0.3s ease-in-out;
    --animation-nav-smooth: 0.5s cubic-bezier(.5, 0, .25, 1);
    --animation-cursor: 0.4s cubic-bezier(0.5, 0, .25, 1);
    --animation-bounce: 0.4s cubic-bezier(0.35, 1.5, 0.6, 1);
    --animation-bounce-smooth: 0.6s cubic-bezier(0.5, 1.5, 0.5, 1);
    --section-padding: var(--title-size);
    --container-padding: calc(var(--col-gap) * 1.5);
    --row-gap: calc(var(--title-size) * 0.3);
    --col-gap: calc(var(--title-size) * 0.3);
    --col-gap-small: calc(var(--title-size) * 0.1);
    --title-size: clamp(5em, 7.5vw, 7.5em);
    --border-radius: calc(var(--btn-height) * 0.5);
    --btn-height: 2.6em;
    --nav-bar-height: calc(var(--btn-height) + (var(--row-gap) * 2));
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-shadow: none;
}

::-webkit-scrollbar {
    background: currentcolor;
    width: 0px;
}

::-webkit-scrollbar-track {
    background: currentcolor;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 0%;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
strong,
em,
figcaption {
    padding: 0;
    margin: 0;
    font-style: normal;
    letter-spacing: normal;
    font-weight: normal;
    line-height: unset;
}